

header.my_header-top [class^="col"],
header.my_header-top{
    height: 50px;
}

main nav{
    background-image:url("../img/sidebar-bg.png");
    width: 80px;
    height: calc(100vh - 50px);
}

header img{
    height: 45px;
    object-fit: cover;
}

main>div>div{
    width: 100%;
    overflow-y: auto;
    height:calc(100vh - 50px); ;
}

header img{
    width:100%;
}

table img{
    height: 30px;
}

.my_button{
    color: white;
    background-color:#165BBA;
    border: 0;
    border-radius: 15px;
    padding:0.2rem 0.5rem;
    margin: 0.2rem;
    font-size: 0.8rem;
}

main header{
    color: white;
}

/* Colorazioni */
.my_bg-lightblue{
    background-color: #1B72E8;
}

.my_bg-dark{
    background-color: #051E34;
}

