

header.my_header-top [class^="col"]{
    background-color: red;
    border:1px solid black;
    height: 50px;
}

.my_p{
    border: 1px solid orangered;
}



main nav{
    background-image:url("../img/sidebar-bg.png");
    background-color: blue;
    height: calc(100vh - 50px);
    width: auto;
}

main>div>div{
    width: 100%;
}

/* Colorazioni */
.my_bg-lightblue{
    background-color: #1B72E8;
}

.my_bg-dark{
    background-color: #051E34;
}